*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#3d2e1a;
}

body {
    background-color: #fcdbb0;
}
.container {
    background-color: #C6A272;
    width: 50%;
    justify-self: center;
    padding: 20px 10px 50px 10px;
    border-radius: 20px;
    margin-top: 70px;
    margin-bottom: 80px;
} .des {
    text-align: justify;
    width: 90%;
    
} .des p {
    font-size: 15px;
} .des ul {
   text-align: justify;
   margin: 3px 30px 0px 30px;
}

.navbutton {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}     .navbutton p {
    padding-top: 0px;
    padding-bottom: 10px;
    color: #f5ece5;
    margin-right: 30px;
} .navbutton p a {
    text-decoration: underline;
    color: #d8a460;
}

.bottom {
    background-color: #3d2e1a;
    margin:0px;
}

.naverror {
    display: flex;
    justify-content: center;    
} .naverror button{
    margin-right: 30px;
    margin-left: 30px;
    background-color: #3d2e1a;
    color: #e2ba86;
    border: 1px solid #3d2e1a;
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
}